@import "./components/global";

body{
    font-family: $font-family;
    display: grid;
    grid-template-rows: 52px 528px 87px;
    
    
}

@import "./components/header";
@import "./components/main";
@import "./components/footer";




