* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  display: grid;
  grid-template-rows: 52px 528px 87px;
}

.header {
  width: 100%;
  height: 5.2rem;
  grid-row: 1;
}
.header__elements {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__elements--logo {
  width: 3rem;
  height: 3rem;
  margin-inline-end: 1.5rem;
}
.header__elements--title {
  font-size: 2.4rem;
  font-weight: bold;
}

.buttonNav {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #1976D2;
  color: #FFFFFF;
  width: 24.8rem;
  height: 6.1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
.buttonNav:active {
  background-color: #BBDEFB;
}

.main {
  grid-row: 2;
  align-self: center;
}
.main__buttons {
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: center;
  justify-content: space-around;
}

.footer {
  grid-row: 3;
  background-color: #1976D2;
  font-size: 1.4rem;
}
.footer--credits {
  display: inline-block;
  margin: 23px 0 0 15px;
  color: #FFFFFF;
  line-height: 22px;
}
.footer--github {
  width: 32px;
  height: 32px;
  position: absolute;
  margin-block-start: 23px;
  right: 15px;
}