header.headerAP 
    .headerAP__info 
        img.headerAP__info--icon(src="/Matematicas/assets/area.svg", alt="Areas Icon")
        p.headerAP__info--p Areas y Perímetros

    img.headerAP__hamburguer#icon-menu(src="/Matematicas/assets/hamburgericon.svg", alt="")
    
include hamburguerMenu.pug 
 

