include mixins.pug


main.mainTriangle
    section.mainTriangle__title
        +figureTitle("Area y Perimetro del Triangulo", "/Matematicas/assets/triangle-img.svg", "Triangle image")
        

    section.mainTriangle__area 
        h3.mainTriangle__area--h3 Area

        form.mainTriangle__area-form(action="")
            
            +form("Base:", "InputBase")
            +form("Altura:", "InputHeight")
            
            +buttonCalc("Calcular", "resultAreaTriangle()")

            p.mainTriangle__area-form-p#ResultAreaTriangle 

    section.mainTriangle__perimeter 
        h3.mainTriangle__perimeter--h3 Perimetro

        form.mainTriangle__perimeter-form(action="")

            +form("Lado A:", "InputA")
            +form("Lado B:", "InputB")
            +form("Lado C:", "InputC")
            
            +buttonCalc("Calcular", "resultPerimeterTriangle()")

            p.mainTriangle__perimeter-form-p#ResultPerimeterTriangle                    
