main.mainTriangle
    section.mainTriangle__title
        h2.mainTriangle__title--h2 Area y Perimetro del Triangulo 
        img.mainTriangle__title--img(src="/Matematicas/assets/triangle-img.svg", alt="Triangle image")

    section.mainTriangle__area 
        h3.mainTriangle__area--h3 Area

        form.mainTriangle__area-form(action="")
            label.mainTriangle__area-form-label(for="InputBase") Base:
            input.mainTriangle__area-form-input#InputBase(type="number")  

            label.mainTriangle__area-form-label(for="InputHeight") Altura:
            input.mainTriangle__area-form-input#InputBase(type="number")

            button.mainTriangle__area-form-button Calcular

            p#ResultArea 

    section.mainTriangle__perimeter 
        h3.mainTriangle__perimeter--h3 Perimetro

        form.mainTriangle__perimeter-form(action="")
            label.mainTriangle__perimeter-form-label(for="InputA") Lado A:   

            input.mainTriangle__perimeter-form-input#InputA(type="number")  

            label.mainTriangle__perimeter-form-label(for="InputB") Lado B: 

            input.mainTriangle__perimeter-form-input#InputB(type="number")

            label.mainTriangle__perimeter-form-label(for="InputC") Lado C:

            input.mainTriangle__perimeter-form-input#InputC(type="number")

            button.mainTriangle__perimeter-form-button Calcular

            p#ResultPerimeter                    
