* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.buttonNav {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #1976D2;
  color: #FFFFFF;
  width: 24.8rem;
  height: 6.1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
.buttonNav:active {
  background-color: #BBDEFB;
}

.buttonAP {
  gap: 1.5rem;
}
.buttonAP img {
  width: 3rem;
  height: 3rem;
}

body {
  font-family: "Overpass", sans-serif;
  display: grid;
  grid-template-rows: 52px 528px 87px;
}

.headerAP {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.4rem 0 1.4rem;
}
.headerAP__info {
  display: flex;
  align-items: center;
}
.headerAP__info--icon {
  width: 3rem;
  height: 3rem;
  margin-inline-end: 1.5rem;
}
.headerAP__info--p {
  font-size: 1.8rem;
  font-weight: bold;
}
.headerAP__info--hamburguer {
  width: 3rem;
  height: 2.4rem;
}

.mainAP {
  grid-row: 2;
  align-self: center;
}
.mainAP__buttonsAP {
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: center;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.buttonNav {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #1976D2;
  color: #FFFFFF;
  width: 24.8rem;
  height: 6.1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
.buttonNav:active {
  background-color: #BBDEFB;
}

.buttonAP {
  gap: 1.5rem;
}
.buttonAP img {
  width: 3rem;
  height: 3rem;
}

.footerAP {
  grid-row: 3;
  background-color: #1976D2;
  font-size: 1.4rem;
}
.footerAP--credits {
  display: inline-block;
  margin: 23px 0 0 15px;
  color: #FFFFFF;
  line-height: 22px;
}
.footerAP--github {
  width: 32px;
  height: 32px;
  position: absolute;
  margin-block-start: 23px;
  right: 15px;
}