mixin buttonNav(text, ref) 
    a.buttonNav(href=ref) #{text} 


main.main 

    section.main__buttons
        +buttonNav("Calcular áreas y perímetros", "/Matematicas/pug/components/sections/AreasyPerimetros/html/indexAP.html")
        +buttonNav("Calcular promedios", "/Matematicas/pug/components/sections/Promedios/html/indexPromedios.html")