
<header class="headerAP"> 
  <div class="headerAP__info"> <img class="headerAP__info--icon" src="/Matematicas/assets/area.svg" alt="Areas Icon"/>
    <p class="headerAP__info--p">Areas y Perímetros</p>
  </div><img class="headerAP__hamburguer" id="icon-menu" src="/Matematicas/assets/hamburgericon.svg" alt=""/>
</header>
<div class="cont-menu active" id="menu"> 
  <ul> 
    <li> <a href="/Matematicas/pug/html/index.html">Inicio </a></li>
    <li>Areas y Perimetros</li>
    <li>Promedios</li>
  </ul>
</div>
<script src="/Matematicas/js/hambuerguerMenu.js"> </script>