
<main class="mainAP"> 
  <section class="mainAP__buttonsAP"><a class="buttonNav buttonAP" href="/Matematicas/pug/components/sections/AreasyPerimetros/html/indexTriangulo.html"><img src="/Matematicas/assets/triangle.svg" alt="Triangle icon"/>
      <p>Triangulo</p></a><a class="buttonNav buttonAP" href="/Matematicas/pug/components/sections/AreasyPerimetros/html/indexCuadrado.html"><img src="/Matematicas/assets/square.svg" alt="Square icon"/>
      <p>Cuadrado</p></a><a class="buttonNav buttonAP" href="/Matematicas/pug/components/sections/AreasyPerimetros/html/indexRectangulo.html"><img src="/Matematicas/assets/rectangle.svg" alt="Rectangle icon"/>
      <p>Rectangulo</p></a><a class="buttonNav buttonAP" href="/Matematicas/pug/components/sections/AreasyPerimetros/html/indexCirculo.html"><img src="/Matematicas/assets/circle.svg" alt="Circle icon"/>
      <p>Circulo</p></a>
  </section>
</main>