
<main class="mainSquare"> 
  <section class="mainSquare__title"> 
    <h2 class="figureTitle">Area y Perimetro del Cuadrado</h2><img class="figureImg" src="/Matematicas/assets/square-image.svg" alt="Square image"/>
  </section>
  <section class="mainSquare__area">
    <h3 class="mainSquare__area--h3">Area </h3>
    <form class="mainSquare__area-form" action="">
      <label class="form__label" for="InputLado">Lado:</label>
      <input class="form__input" id="InputLado" type="number"/>
      <button class="buttonCalc" type="button" onclic="">Calcular </button>
      <p class="mainSquare__area-form-p" id="ResultAreaSquare"> </p>
    </form>
  </section>
  <section class="mainSquarea__perimeter"> 
    <h3 class="mainSquare__perimeter--h3">Perimetro </h3>
    <form class="mainSquare__area-form" action=""> 
      <label class="form__label" for="InputLadoP">Lado:</label>
      <input class="form__input" id="InputLadoP" type="number"/>
      <button class="buttonCalc" type="button" onclic="">Calcular </button>
      <p class="mainSquare__perimeter-form-p" id="ResultPerimeterSquare"></p>
    </form>
  </section>
</main>