
<main class="mainCircle"> 
  <section class="mainCircle__title"> 
    <h2 class="figureTitle">Area y Perimetro del Circulo</h2><img class="figureImg" src="/Matematicas/assets/circle-image.svg" alt="Circle image"/>
  </section>
  <section class="mainCircle__area"> 
    <h3 class="mainCircle__area--h3">Area</h3>
    <form class="mainCircle__area-form" action="">
      <label class="form__label" for="InputRadio">Radio:</label>
      <input class="form__input" id="InputRadio" type="number"/>
      <button class="buttonCalc" type="button" onclic="">Calcular </button>
      <p class="mainCircle__area-form-p" id="ResultAreaCircle"> </p>
    </form>
  </section>
  <section class="mainCircle__perimeter"> 
    <h3 class="mainCircle__perimeter--h3">Perimetro</h3>
    <form class="mainCircle__perimeter-form" action="">
      <label class="form__label" for="InputRadio">Radio:</label>
      <input class="form__input" id="InputRadio" type="number"/>
      <button class="buttonCalc" type="button" onclic="">Calcular </button>
      <p class="mainCircle__perimeter-form-p" id="ResultPerimeterCircle"> </p>
    </form>
  </section>
</main>