
<div class="cont-menu active" id="menu">
  <div class="cont-menu--logo"> <img src="/Matematicas/assets/Math-white.svg" alt="Math Logo"/>
    <p>Math</p>
  </div>
  <ul> 
    <li> <a href="/Matematicas/pug/html/index.html">Inicio </a></li>
    <li> <a href="/Matematicas/pug/components/sections/AreasyPerimetros/html/indexAP.html">Areas y Perimetros </a></li>
    <li> <a href="/Matematicas/pug/components/sections/Promedios/html/indexPromedios.html">Promedios</a></li>
  </ul>
  <div class="cont-menu--footer"> 
    <p>© 2021 <br>by Julian Pinilla. <br>All rights reserved.</p>
  </div>
</div>
<script src="/Matematicas/js/hambuerguerMenu.js"> </script>