
<header class="headerPromedios"> 
  <div class="headerPromedios__info"> <img class="headerPromedios__info--icon" src="/Matematicas/assets/average.svg" alt="Areas Icon"/>
    <p class="headerPromedios__info--p">Promedios</p>
  </div>
  <ul class="headerPromedios__ul"> 
    <li class="headerPromedios__li"><a href="/Matematicas/pug/html/index.html">Inicio</a></li>
    <li class="headerPromedios__li"> <a href="/Matematicas/pug/components/sections/AreasyPerimetros/html/indexAP.html">Areas y Perimetros</a></li>
    <li class="headerPromedios__li"> <a href="/Matematicas/pug/components/sections/Promedios/html/indexPromedios.html">Promedios</a></li>
  </ul><img class="headerPromedios__hamburguer" id="icon-menu" src="/Matematicas/assets/hamburgericon.svg" alt="Hamburguer Icon"/>
</header>
<div class="cont-menu active" id="menu">
  <div class="cont-menu--logo"> <img src="/Matematicas/assets/Math-white.svg" alt="Math Logo"/>
    <p>Math</p>
  </div>
  <ul> 
    <li> <a href="/Matematicas/pug/html/index.html">Inicio </a></li>
    <li> <a href="/Matematicas/pug/components/sections/AreasyPerimetros/html/indexAP.html">Areas y Perimetros </a></li>
    <li> <a href="/Matematicas/pug/components/sections/Promedios/html/indexPromedios.html">Promedios</a></li>
  </ul>
  <div class="cont-menu--footer"> 
    <p>© 2021 <br>by Julian Pinilla. <br>All rights reserved.</p>
  </div>
</div>
<script src="/Matematicas/js/hambuerguerMenu.js"> </script>