
<main class="mainMMM"> 
  <h3 class="mainMMM__title">Media aritmetica, Mediana y Moda </h3>
  <section class="mainMMM__content"> 
    <input class="mainMMM__content--input" id="InputMMM" type="text" placeholder="Inserte los números separados por una ,"/>
    <p class="mainMMM__content--p" id="ResultMMM"></p>
    <div class="buttonBox">
      <button class="mainMMM__content--button" type="button" onclick="resultArithmeticValue()">Media aritmetica</button>
      <button class="mainMMM__content--button" type="button" onclick="resultMedian()">Mediana</button>
      <button class="mainMMM__content--button" type="button" onclick="resultMode()">Moda</button>
    </div>
  </section>
</main>