.header {
  width: 100%;
  height: 5.2rem;
  grid-row: 1;
}
.header__elements {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__elements--logo {
  width: 3rem;
  height: 3rem;
  margin-inline-end: 1.5rem;
}
.header__elements--title {
  font-size: 2.4rem;
  font-weight: bold;
}