@import "../../global";
@import "./components/globalAP";

body{
    font-family: $font-family;
    display: grid;
    grid-template-rows: 52px 1168px 87px;
}

@import "./components/headerAP";
@import "./components/mainTriangulo";
@import "./components/footerAP";
