footer.footerPromedios
    p.footerPromedios--credits @ 2021 by Julian Pinilla. <br> All rights reserved.

    a.github-link(href="https://github.com/JulianLizarazo" target="_blank") 
        img.footerPromedios--github(src="/Matematicas/assets/github.svg", alt="Github Icon")