
main.mainMMM 

    h3.mainMMM__title Media aritmetica, Mediana y Moda 

    section.mainMMM__content 
        input.mainMMM__content--input#InputMMM(type="text", placeholder="Inserte los números separados por una ,")

        p.mainMMM__content--p#ResultMMM

        button.mainMMM__content--button(type="button", onclick="resultArithmeticValue()") Media aritmetica
        button.mainMMM__content--button(type="button", onclick="resultMedian()") Mediana
        button.mainMMM__content--button(type="button", onclick="resultMode()") Moda




