mixin buttonNav(text, ref) 
    a.buttonNav(href=ref) #{text}

main.mainPromedios 

    section.mainPromedios__buttonPromedios
        +buttonNav("Media Aritmetica, Mediana y Moda", "#")
        +buttonNav("Promedio Ponderado", "#")     