doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;400;700&display=swap")
        link(rel="stylesheet", href="/Matematicas/sass/components/sections/Promedios/css/mobileMMM.css", media="screen and (max-width: 768px)")
        link(rel="stylesheet", href="/Matematicas/sass/components/sections/Promedios/responsive/css/laptopMMM.css", media="screen and (min-width: 769px)")
        link(rel="shortcut icon", href="/Matematicas/assets/Math-white.svg", type="image/x-icon")
        title Math - Promedios
    body

        include components/headerPromedios.pug
        include components/mainMMM.pug
        include components/footerPromedios.pug
    
        script(src="/Matematicas/js/Promedios/ArithmeticAverage.js")
        script(src="/Matematicas/js/Promedios/Median.js")  
        script(src="/Matematicas/js/Promedios/Mode.js")
      
        
    



