.mainTriangle {
  display: grid;
  grid-template-rows: 188px 392px 488px;
}
.mainTriangle__title {
  grid-row: 1;
  width: 100%;
  height: 100%;
  text-align: center;
}
.mainTriangle__title--img {
  width: 8rem;
  height: 8rem;
}
.mainTriangle__area {
  grid-row: 2;
}
.mainTriangle__perimeter {
  grid-row: 3;
}