doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;400;700&display=swap")
        link(rel="stylesheet", href="/Matematicas/sass/components/sections/AreasyPerimetros/css/mobileTriangulo.css", media="screen and (max-width: 768px)")
        link(rel="stylesheet", href="/Matematicas/sass/components/sections/AreasyPerimetros/responsive/css/laptopFigure.css", media="screen and (min-width: 769px)")
        link(rel="shortcut icon", href="/Matematicas/assets/Math-white.svg", type="image/x-icon")
        title Math - Areas y Perimetros
    body 

        include components/headerAP.pug
        include components/mainTriangulo.pug
        include components/footerAP.pug
    
        script(src="/Matematicas/js/AreasyPerimetros/Triangle.js") 





